.balloon1-left {
	position: relative;
	display: inline-block;
	margin: 1.5em 0 1.5em 15px;
	padding: 7px 10px;
	min-width: 120px;
	max-width: 100%;
	color: #101010;
	font-size: 16px;
	background: #808dc0;
}

.balloon1-left:before {
	content: "";
	position: absolute;
	top: 50%;
	left: -30px;
	margin-top: -15px;
	border: 15px solid transparent;
	border-right: 15px solid #808dc0;
}

.balloon1-left p {
	margin: 0;
	padding: 0;
}
